.control-lable:before{
    content: "*";
    color:red;
    margin-right:3px;

}

.ml-6{
    margin-left: 60px;
    float:right;
    border-radius: 10%;
    padding: 0px 20px 0px 20px;

}
.dn{
    display: none;
}
.time{
    position: relative;
    left: 40%;
}
.error-msg{
    color: rgb(243, 64, 64);
    margin-left: 15px;
    margin-bottom: 5px;
}
.otp-timer-text{
    color: #d1d1d1;
    font-size: small;
    text-align: center;
}
.btn-mask-pwd{
    height: 37px;
    width: 38px;

}

.df-row{
    display: flex;
}